html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 18px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.container{
    background-image: url(./images/bg-pattern-card.svg);
    background-size: 100% 200px;
    background-repeat: no-repeat;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 550px;
    border-radius: 10px;
}

img{
    margin-top: 120px;
    border-radius: 50%;
    border: 7px solid white;
    width: 150px;
    height: 150px;
}

h1{
    font-size: 1.3em;
    margin: 20px 0 15px 0;
}
.age{
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    padding-left: 10px;
}

h2{
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: hsl(0, 0%, 59%);
    padding-bottom: 40px;
    margin: 0 0 0 0;
    border-bottom: 1px solid #e1f1ff;
}
.stats{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.block{
    text-align: center;
    font-weight: 700;
    font-size: 23px;
    width: 84px;
}
 .stats-p{
     text-align: center;
     color: hsl(0, 0%, 59%);
 }
 #centering{
     padding-left: 20px;
 }